#secondary_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid rgb(235, 235, 235);
  border-top: 1px solid rgb(235, 235, 235);
  margin-top: 89px;
  width: 100%;
  gap: 60px;
  color: rgb(68, 68, 68);
}

#secondary_nav > div {
  position: relative;
  cursor: pointer;
  height: 100%;
  z-index: 2;
}

.fruits_section > div:first-child {
  display: flex;
  height: 100%;
  align-items: center;
}

.fruits_section > div:first-child p {
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.fruits_section > div:first-child span {
  transition: transform 0.5s;
}

.fruits_section > div:last-child {
  position: absolute;
  top: 38px;
  left: -4px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  padding: 16px;
  visibility: hidden;
}

.fruits_section:hover > div:last-child {
  visibility: visible;
}

.fruits_section:hover > div:first-child {
  color: #0ab05b;
}

.fruits_section:hover > div:first-child span {
  transform: rotate(180deg);
}

.vegetable_section > div:first-child {
  display: flex;
  height: 100%;
  align-items: center;
}

.vegetable_section > div:first-child span {
  transition: transform 0.5s;
}

.vegetable_section > div:first-child p {
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.vegetable_section > div:last-child {
  position: absolute;
  top: 38px;
  left: -4px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  padding: 16px;
  visibility: hidden;
}

.vegetable_section:hover > div:first-child {
  color: #0ab05b;
}

.vegetable_section:hover > div:last-child {
  visibility: visible;
}

.vegetable_section:hover > div:first-child span {
  transform: rotate(180deg);
}

.list {
  display: flex;
  flex-direction: column;
  width: max-content;
  color: black;
  gap: 4px;
}

.list > a {
  display: inline-block;
  text-decoration: none;
  line-height: 30px;
  margin: 0px;
  padding: 0px 16px;
  border-radius: 4px;
}

.list > a:hover {
  color:black;
}

.active{
  color: #0ab05b;
}